body {
    background-image: url(/imagenes/ml-backgroud.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center center;
    background-attachment: fixed;
    background-color: black;
}

.Home.container {
    position: fixed;
  }
  
  .logo {
    display: inline-block;
    width: 13px; 
    height: 13px; 
    background-image: url(/imagenes/boton-inicio.png);
    background-size: cover;
    background-position: sticky;
    top: 25px;
    transition: top 0.3s ease-in-out;
    z-index: 100;
    margin-left: -830px;
    margin-top: -15px;
    
  }
  
  .menu-icon {
    cursor: pointer;
  }

.navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 25px;
    width: 100%;
    z-index: 100; 
    transition: top 0.3s ease-in-out;
}

.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin-left: 0;
}

.navbar li:first-child {
  margin-left: 0;
}

.navbar li a {
  padding: 30px;
  
  color: #ffffff;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #070010;
  }
.titulo{
    color: #ffffff;
    text-align: center;
    margin-top: 120px;
    text-shadow:2px 2px #000000;
    
}
.titulo h1{
    font-size: 50px;
}
.titulo p{
    font-size: 25px;
}

.txt-Main{
    color: #ffffff;
    text-shadow: 2px 2px #000000;
    size: 35px;
}


/*footer o pie de pagina*/
.footer {
    margin-top: 150px;
    background-color: #030009;
    padding: 10px;
    text-align: center;
}
  .container{
    color: #ffffff;
}  